
<div class="container">
    <div class="row information-background">
        <div class="col-md-4">
            <p class="column-title text-center" class="holes">Hole Number</p>
            {{#each infoList}}
                    <ul class="text-center hole-info">
                        <li>{{this.hole_number}}.</li>
                    </ul>
            {{/each}}
        </div>
        <div class="col-md-4">
            <p class="column-title text-center" id="par" class="holes">Par</p>
            {{#each infoList}}
                <ul class="text-center hole-info">
                    <li>{{this.par}}</li>
                </ul>
            {{/each}}
        </div>
        <div class="col-md-4">
            <p class="column-title text-center" id="distance" class="holes">Distance</p>
            {{#each infoList}}
                <ul class="text-center hole-info">
                    <li>{{this.distance}}</li>
                </ul>
            {{/each}}
        </div>
    </div>
</div>