<!-- Navbar -->
<nav class="navbar justify-content-between">
    <ul class="content-nav">
        <a class="courses-login" href="/">Home</a>
        <a class="courses-login" href="/courses">Courses</a>
    </ul>
        
    {{> userLoggedOut}}  
</nav>