<!-- Jumbotron/Banner -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Charlotte Disc-Golf</h1>
        
    </div>
</div>

<!-- Center content -->
<div class="container main-body"></div>

<!-- Lower content -->
<div class="container" class="lowerContent">
    <div class="row justify-content-center">
        <div class="col-md-4 wrap">
            <img src="/images/courses.jpg" class="rounded float-left img-fluid image" alt="Courses">
                <div class="center">
                    <button type="button" class="btn btn-primary text"><a href="/courses">Courses</a></button>
                </div>
        </div>
        <div class="col-md-4 wrap">
            <img src="/images/registration-icon.png" class="rounded float-left img-fluid image" alt="Registration">
                <div class="center">
                    <button type="button" class="btn btn-primary text"><a href="/userprofile">Recent Rounds</a></button>
                </div>
        </div>
    </div>
</div>
