 {{!-- Sign In page --}}
<div class="container" id="sign-in-page">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-8 text-center">
    
     {{> userLoggedOut}}

      <div class="row text-center">
        <div class="col-md-12">
          <h3>

            <button class="btn btn-block btn-social btn-github">
              <span class="fab fa-github-square"></span><a id="gitlink" href="/auth/github">Sign in with GitHub</a>
            </button>

            <button class="loginBtn loginBtn--google">
              <a href="/auth/google">Login with Google</a>
            </button>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>