{{!-- Placeholder until validation is complete --}}

<!-- Navbar -->
<nav class="navbar justify-content-between">
    <ul class="content-nav">
        <a class="courses-login" href="/homepage">Home</a>
        <a class="courses-login" href="/courses">Courses</a>
    </ul>
        
    {{> username}}  
</nav>