
   <div class="container">
      <h1 class="display-4 text-center course-header">Play a Round</h1>
   </div>
   <div class="container course-main">
      <div class="row">
         <div class="col-md-12 text-center">                
            <hr>
            <h3>Select Course</h3>
            <hr>
            
         </div>
      </div>
      
      <div class="row">
          <div class="col-md-3 text-center">
              <h4>Hole Number</h4>
          </div>
          <div class="col-md-3 text-center">
              <h4>Par</h4>
          </div>
          <div class="col-md-3 text-center">
              <h4>Distance</h4>
          </div>
          <div class="col-md-3 text-center">
              <h4>Score</h4>
          </div>
      </div>
                {{#each userRoundsObj}}
                    <div class="row row-border">
                        <div class="col-md-3">
                            <ul class="text-center hole-info">
                                <li>{{this.Course.id}}.</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="text-center hole-info">
                                <li>{{this.Hole.par}}</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="text-center hole-info">
                                <li>{{this.Hole.distance}}</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="text-center hole-info">
                                <li>{{this.score}}</li>
                            </ul>
                        </div>
                    </div>
                {{/each}}
   </div>