
{{!-- Navbar log-in if the user is logged out --}}
<ul class="ml-auto">
    <form class="form-inline">
        <div class="input-group">
            <!-- Username input -->
            <input type="text" class="form-control" id="username" placeholder="Username" aria-label="Username" aria-describedby="Username-input">
            <!-- Password input -->
            <input type="text" class="form-control" id="password" placeholder="Password" aria-label="Username" aria-describedby="Password-input">
        </div>
    </form>
    <!-- User helper settings -->
    <fieldset>
        <label class="checkbox inline" id="rememberMe">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <a class="help-inline" id="forgotPass" href="#">Forgot password?</a>
    </fieldset>
</ul>