<!DOCTYPE html>
<html>
<head>
	
	<title>disckGolf</title>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">

</head>
<body>
	    <div id="recentRoundscourse">
    <h1>Recent Rounds Course: </h1>
    	</div>

        <div class="btn-group btn-group-lg" role="group" aria-label="...">Play New Round</div>

</body>
</html>