
<!-- Navbar -->
<nav class="navbar justify-content-between">
    <ul class="content-nav">
        <a class="courses-login" href="/">Home</a>
        <a class="courses-login" href="/courses">Courses</a>
    </ul>
        
    <p class="courses-login">Welcome, User</p>
        
</nav>

<div class="container">
    <h1 class="display-4 text-center course-header">Courses</h1>
    
</div>

<div class="container course-main">
    <div class="row">
<<<<<<< HEAD
        <div class="col-md-4">
        
           
=======
        <div class="col-md-3 text-center">
            {{!-- Looping over the database entries with handlebars --}}
            <p class="column-title text-center">Course Name</p>
            {{#each coursesList}}
                <ul class="text-center" id="course-list">
                    {{name}}
                </ul>
            {{/each}}
        </div>
        <div class="col-md-3 text-center">
            {{!-- Looping over the database entries with handlebars --}}
            <p class="column-title">Address</p>
                {{#each coursesList}}
                    <ul class="text-left">
                        {{address}}
                    </ul>
                {{/each}}
        </div>
        <div class="col-md-3">
            {{!-- Looping over the database entries with handlebars --}}
            <p class="column-title text-center" id="holes">Holes</p>
                {{#each coursesList}}
                    <ul class="text-center">
                        {{holes}}
                    </ul>
                {{/each}}
        </div>
        <div class="col-md-3">
            {{!-- Looping over the database entries with handlebars --}}
            <p class="column-title text-center" id="rating">Rating</p>
                {{#each coursesList}}
                    <ul class="text-center">
                        {{rating}}
                    </ul>
                {{/each}}
>>>>>>> 8b0c87eb98dcb21f7a7e9bcffa426530d27c442c
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse text-center lowerContent">
        <div class="row justify-content-center">
            <!-- About -->
            <div class="col-md-4">
                <h3 class="about">About</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem corporis modi culpa vitae sunt 
                libero earum dolorem omnis! Provident blanditiis nulla reiciendis dolor quaerat dolore molestias ipsa 
                eum a incidunt.
            </div>
    
            <!-- Contact -->
            <div class="col-md-4" class="informationArea">
                <h3 class="contact"><a href="#">Contact</a></h3>

                <h3 class="github"><a href="https://github.com/mramsey1992/charlotte_discgolf" target="_blank" class="githubLink">GitHub<img src="/images/githubv3.png" alt="Github-logo" class="github-image"></a></h3>
            </div>
        </div>
    </nav>
</footer>

