<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <div class="input-group">
        <input type="text" class="form-control" id="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">

        <input type="text" class="form-control" id="password" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">

        <a href="#" class="text-align right" id="newUser">New User</a>
    </div>
  </form>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Charlotte Disc-Golf</h1>
    </div>
</div>

<div class="container main-body">
    <div class="row">
        
    </div>
</div>

<div class="container footer">
    <div class="row">
            <div class="col-md-4 wrap">
                <img src="/images/courses.jpg" class="rounded float-left img-fluid image" alt="Courses">
                    <div class="center">
                        <button type="button" class="btn btn-primary text">Courses</button>
                    </div>
            </div>
    
        <div class="col-md-4 wrap">
            <img src="assets/images/aboutme.jpeg" class="rounded mx-auto d-block img-fluid image" alt="About Me">
                <div class="center">
                        <button type="button" class="btn btn-primary text" data-toggle="modal" data-target="#aboutModal">About</button>
                </div>
        </div>
        
        <div class="col-md-4 wrap">
            <img src="assets/images/portfolioimage.jpg" class="rounded float-right img-fluid image" alt="Portfolio">
                <div class="center">
                        <button type="button" class="btn btn-primary text" data-toggle="modal" data-target="#portfolioModal">Portfolio</button>
                </div>
        </div>
    </div>
</div>