
<!-- Navbar -->
<nav class="navbar justify-content-between">
    <ul class="content-nav">
        <a class="courses-login" href="/">Home</a>
        <a class="courses-login" href="/courses">User Rounds</a>
    </ul>
        
    <p class="courses-login">Welcome, User</p>
        
</nav>