
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Carter+One');

/* Main styles */

ul {
    margin-bottom: 8px;
}

p {
    margin-bottom: 8px;
}

footer {
    border-top: 1px solid #000;
}

footer a,
nav a {
    color: #000;
}

nav a:hover,
footer a:hover {
    color: #ff0000;
}

/* Base styles */

.jumbotron {
    height: 250px;
    background: #d3d3d3 url("/images/banner-img.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
}

.display-4 {
    padding-top: 300px;
    color: #000;
    font-size: 4.8em;
    font-family: 'Carter One', cursive;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 20px 0 40px 0;
    border: 2px solid #fff;
  }

.center {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.img {
    height: 150px;
}

.wrap:hover .image {
    opacity: 0.3;
  }
  
.wrap:hover .center{
    opacity: 1;
}

.btn a {
    color: #fff;
}

.btn-primary {
    border-color: none;
}

.btn-primary,
.btn-primary:hover {
  background-color: #000;
  border-color: #fff;
  border-radius: 0%;
}

.main-body {
    height: 300px;
}

.form-control {
    border-radius: 0%;
    border-color: #000;
}

.navbar {
    padding-bottom: 1px;
    background-color: #d3d3d3;
    border-bottom: 1px solid #000;
}

.content-nav {
    padding-left: 5px;
}

.lowerContent {
    padding-bottom: 15px;
}

.informationArea {
    padding-top: 10px;
}

.courses-login {
    padding-right: 20px;
    font-weight: 600;
    font-size: 2em;
}

.course-header {
    padding-top: 20px;
}

.course-main {
    height: 450px;
    padding-top: 75px;
}

.github {
    padding-top: 15px;
}

.github-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
}

.contact {
    padding-right: 36px;
}

.column-title {
    font-weight: 600;
    font-size: 1.5em;
}

.text-space {
    padding-right: 5px;
}

#username {
    margin-right: 5px;
}

#newUser {
    padding: 5px;
    color: #000;
}

#forgotPass {
    padding-left: 90px;
}

#rememberMe {
    margin-bottom: 0px;
}

#holes {
    padding-left: 40px;
}

#course-list {
    padding-left: 5px;
}

/* REGISTRATION CSS */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.reg-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.reg-button:hover {
    opacity: 1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

.reg-container {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}
